*{
    margin: 0;
    padding: 0%;
    box-sizing: border-box;
}

a{
    display: inline-flex;
    text-decoration: none;
}
ul, ol, li {
    list-style: none;
}

body{
    background-color: black;
    display: grid;
    width: 100vw;
    grid-template-rows: 115px 1fr 225px;
    height: 100vh;
    padding-left: 20px;
    padding-top: 20px;

}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logotipo{
    display: flex;
}

.hamburger{
    color: white;
    display: grid;
    align-items: end;
    justify-content: end;
    gap: 10px;
}

.barras{
    background-color: white;
    width: 38px;
    height: 2px;
    border-radius: 15px;
}

#meio{
    background-color: white;
    width: 18px;
    place-self: end;

}

.logo{
    font-family: 'Arizonia', cursive;
    color: white;
    font-weight: 50.72px;
    font-size: 48px;
    line-height: 40px;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
    padding-left: 22px;
}

.hotbar{
    display: grid;
    grid-template-columns: auto auto;
}

.text{
    display: flex;
    color: white; 
    text-overflow: ellipsis;
    font-family: 'Poppins', sans-serif;  
    line-height: 19px;
    font-size: 20px;
    letter-spacing: 0.05em;
    gap: 20px;
    width: fit-content;
    align-items: flex-end;
    cursor: pointer;
}

.hot::after{
    content: '';
    display: block;
    width: auto;
    height: 3px;
    background-color: #B91B17;
    border-radius: 10px;
    opacity: 0;
    transform: translateY(1.75rem);
}

.hot:hover::after{
    opacity: 1;
}

.icones{
    justify-content: flex-end;
    display: flex;
    align-items: center;
    gap: 40px;
}

img[alt~=icone]{
    width: 25px;
}

.talk{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;

}

img[alt~=talk]{
    width: 36px;
}

main{
    display: grid;
    grid-template-columns: auto auto 84px;
    align-items: center;
}

.linha{
    width: 140px;
    padding-left: 10px;
    position: absolute;
    border: 1px solid #781116;
    transform: rotate(90deg);
}

.menu{
    height: 150px;
    display: flex;
    gap: 10px;
    flex-direction: column;
}
.nome{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 48px;
    line-height: 46px;
    color: white;
    position: absolute;
    width: auto;
    height: 20px;
    top: 19rem;
    padding-left: 5.2rem;
}

.descricao{
    font-family: 'Istok Web';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    color: #FFFFFF;
    position: absolute;
    width: 9rem;
    height: 1px;
    top: 22.5rem;
    left: 6.5rem;
}

.preco{
    position: absolute;
    display: flex;
    gap: 5px;
    color: white;
    top: 26.5rem;
    left: 5.5rem;
}

.real{
    font-size: 17px;
    padding-left: 1rem;
}

#cents{
    position: absolute;
    font-size: 12px;
    color: #C1C1C1;
    left: 1.5rem;

}

img[alt~=carnes]{
    position: absolute;
    width: 90rem;
    z-index: -1;
    top: 10%;
    right: 37%;
}

.carne{
    width: 500px;
    font-size: 6rem;
    gap: 3px;
    color:white;
    align-items: flex-end;
    white-space: nowrap;
    padding-left: 40%;
    line-height: 66px;
}

.tite{
    position: absolute;
    padding-left: 2rem;
}

.retangulo_souce{
    position: absolute;
    width: 100px;
    height: 27px;
    left: 74rem;
    top: 370px;
    background: #781116;
    transform: matrix(0.98, -0.3, 0.19, 0.98, 0, 0);
    z-index: 1;
    
}

.souce{
    position: absolute;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 19px;
    place-content: center;
    padding-left: 1.5rem;
    color: white;
}

.descricao_meat{
    position: absolute;
    width: 35rem;
    height: 42px;
    left: 52rem;
    top: 570px;
    font-family: 'Poppins'; 
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 18px;
}


.sociais{
    display: grid;
    place-content: center;
    gap: 15px;
}

img[alt~=social]{
    display: grid;
    width: 35px;
}

.redes:hover{
    transition-duration: 1ms;
    transform: scale(1.2);
}

footer{
    margin: 0px 1rem 0px 1rem;
}
.retangulopreto{
    position: absolute;
    width: 630px;
    height: 183px;
    left: 185px;
    top: 747px;
    background: rgba(14, 14, 14, 0.7);
    z-index: -1;
}

.retangulovermelho{
    display: block;
    position: absolute;
    width: 500px;
    height: 183px;
    left: 61rem;
    top: 747px;
    background: #781116;
}

.carne_preto{
    position: absolute;  
    top: 747px;
    
}

.carne_vermelha{
    position: absolute;
    left: 48rem;
    top: 747px;
}

.descricao_titulo_preta{
    position: absolute;
    width: 200px;
    height: 47px;
    left: 20rem;
    top: 782px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 35px;
    line-height: 47px;
    color: white;
}

.descricao_preta{
    position: absolute;
    width: 280px;
    height: 30px;
    left: 20rem;
    top: 840px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 15px;
    color: white;
}


.descricao_titulo_vermelha{
    position: absolute;
    width: 200px;
    height: 47px;
    left: 64rem;
    top: 782px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 35px;
    line-height: 47px;
    color: white;
}

.descricao_vermelha{
    position: absolute;
    width: 280px;
    height: 30px;
    left: 64rem;
    top: 840px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 15px;
    color: white;
}

.price{
    position: absolute;
    width: 110px;
    height: 40px;
    left: 40rem;
    top: 780px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 15px;
    color: white;
    }

.price_valor{
    position: absolute;
    width: 26px;
    height: 27px;
    left: 40rem;
    top: 800px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 23px;
    line-height: 27px;
    color: white;
}

#caro{
    position: absolute;
    width: 16px;
    height: 16px;
    left: 43rem;
    top: 805px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 16px;
    color: white;
}

.buttom{
  background-color: #FFFFFF;
  border: 1px solid #222222;
  border-radius: 1px;
  box-sizing: border-box;
  color: #222222;
  cursor: pointer;
  display: inline-block;
  font-family: 'Roboto';
  font-size: 15px;
  font-weight: 400;
  line-height: 16px;
  outline: none;
  position: absolute;
  text-align: center;
  text-decoration: none;
  touch-action: manipulation;
  transition: box-shadow .2s,-ms-transform .1s,-webkit-transform .1s,transform .1s;
  user-select: none;
  -webkit-user-select: none;
  white-space: nowrap;
  padding-top: 5px;
  height: 2rem;
  width: 8rem;
  left: 40rem;
  top: 835px;
}

.buttom:focus-visible {
  box-shadow: #222222 0 0 0 2px, rgba(255, 255, 255, 0.8) 0 0 0 4px;
  transition: box-shadow .2s;
}

.buttom:active {
  background-color: #F7F7F7;
  border-color: #000000;
  transform: scale(.96);
}

.buttom:disabled {
  border-color: #DDDDDD;
  color: #DDDDDD;
  cursor: not-allowed;
  opacity: 1;
}

.price_red{
    position: absolute;
    width: 110px;
    height: 40px;
    left: 84rem;
    top: 780px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 15px;
    color: white;
    }

.price_valor_red{
    position: absolute;
    width: 26px;
    height: 27px;
    left: 84rem;
    top: 800px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 23px;
    line-height: 27px;
    color: white;
}

#caros{
    position: absolute;
    width: 16px;
    height: 16px;
    left: 87rem;
    top: 805px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 16px;
    color: white;
}

.buttoms{
  background-color: #FFFFFF;
  border: 1px solid #781116;
  border-radius: 1px;
  box-sizing: border-box;
  color: #222222;
  cursor: pointer;
  display: inline-block;
  font-family: 'Roboto';
  font-size: 15px;
  font-weight: 400;
  line-height: 16px;
  outline: none;
  position: absolute;
  text-align: center;
  text-decoration: none;
  touch-action: manipulation;
  transition: box-shadow .2s,-ms-transform .1s,-webkit-transform .1s,transform .1s;
  user-select: none;
  -webkit-user-select: none;
  white-space: nowrap;
  padding-top: 5px;
  height: 2rem;
  width: 8rem;
  left: 84rem;
  top: 835px;
}

.buttoms:focus-visible {
  box-shadow: #781116 0 0 0 2px, rgba(255, 255, 255, 0.8) 0 0 0 4px;
  transition: box-shadow .2s;
}

.buttoms:active {
  background-color: #F7F7F7;
  border-color: #000000;
  transform: scale(.96);
}

.buttoms:disabled {
  border-color: #DDDDDD;
  color: #DDDDDD;
  cursor: not-allowed;
  opacity: 1;
}

@media(max-width: 768px){
    
body{
    background-color: black;
    display: grid;
    width: 100vw;
    grid-template-rows: 115px 1fr 225px;
    height: 100vh;
    padding-left: 20px;
    padding-top: 20px;

}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logotipo{
    display: flex;
}

.hamburger{
    color: white;
    display: grid;
    align-items: end;
    justify-content: end;
    gap: 2px;
}

.barras{
    background-color: white;
    width: 28px;
    height: 2px;
    border-radius: 15px;
}

#meio{
    background-color: white;
    width: 18px;
    place-self: end;

}

.logo{
    font-family: 'Arizonia', cursive;
    color: white;
    font-weight: 50.72px;
    font-size: 28px;
    line-height: 40px;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
    padding-left: 22px;
}

.hotbar{
    display: grid;
    grid-template-columns: auto auto;
}

.text{
    display: flex;
    color: white; 
    text-overflow: ellipsis;
    font-family: 'Poppins', sans-serif;  
    line-height: 19px;
    font-size: 20px;
    letter-spacing: 0.05em;
    gap: 20px;
    width: fit-content;
    align-items: flex-end;
    cursor: pointer;
}

.hot::after{
    content: '';
    display: block;
    width: auto;
    height: 3px;
    background-color: #B91B17;
    border-radius: 10px;
    opacity: 0;
    transform: translateY(1.75rem);
}

.hot:hover::after{
    opacity: 1;
}

.icones{
    justify-content: flex-end;
    display: flex;
    align-items: center;
    gap: 40px;
}

img[alt~=icone]{
    width: 25px;
}

.talk{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;

}

img[alt~=talk]{
    width: 36px;
}

main{
    display: grid;
    grid-template-columns: auto auto 84px;
    align-items: center;
}

.linha{
    width: 140px;
    padding-left: 10px;
    position: absolute;
    border: 1px solid #781116;
    transform: rotate(90deg);
}

.menu{
    height: 150px;
    display: flex;
    gap: 10px;
    flex-direction: column;
}
.nome{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 48px;
    line-height: 46px;
    color: white;
    position: absolute;
    width: auto;
    height: 20px;
    top: 19rem;
    padding-left: 5.2rem;
}

.descricao{
    font-family: 'Istok Web';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    color: #FFFFFF;
    position: absolute;
    width: 9rem;
    height: 1px;
    top: 22.5rem;
    left: 6.5rem;
}

.preco{
    position: absolute;
    display: flex;
    gap: 5px;
    color: white;
    top: 26.5rem;
    left: 5.5rem;
}

.real{
    font-size: 17px;
    padding-left: 1rem;
}

#cents{
    position: absolute;
    font-size: 12px;
    color: #C1C1C1;
    left: 1.5rem;

}

img[alt~=carnes]{
    position: absolute;
    width: 90rem;
    z-index: -1;
    top: 10%;
    right: 37%;
}

.carne{
    width: 500px;
    font-size: 6rem;
    gap: 3px;
    color:white;
    align-items: flex-end;
    white-space: nowrap;
    padding-left: 40%;
    line-height: 66px;
}

.tite{
    position: absolute;
    padding-left: 2rem;
}

.retangulo_souce{
    position: absolute;
    width: 100px;
    height: 27px;
    left: 74rem;
    top: 370px;
    background: #781116;
    transform: matrix(0.98, -0.3, 0.19, 0.98, 0, 0);
    z-index: 1;
    
}

.souce{
    position: absolute;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 19px;
    place-content: center;
    padding-left: 1.5rem;
    color: white;
}

.descricao_meat{
    position: absolute;
    width: 35rem;
    height: 42px;
    left: 52rem;
    top: 570px;
    font-family: 'Poppins'; 
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 18px;
}

.sociais{
    display: none;
}
.retangulovermelho{
    display: block;
    position: absolute;
    width: 500px;
    height: 183px;
    left: 61rem;
    top: 747px;
    background: #781116;
}
.carne_vermelha{
    position: absolute;
    left: 48rem;
    top: 747px;
}


.descricao_titulo_vermelha{
    position: absolute;
    width: 200px;
    height: 47px;
    left: 64rem;
    top: 782px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 35px;
    line-height: 47px;
    color: white;
}

.descricao_vermelha{
    position: absolute;
    width: 280px;
    height: 30px;
    left: 64rem;
    top: 840px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 15px;
    color: white;
}


.price_red{
    position: absolute;
    width: 110px;
    height: 40px;
    left: 84rem;
    top: 780px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 15px;
    color: white;
    }

.price_valor_red{
    position: absolute;
    width: 26px;
    height: 27px;
    left: 84rem;
    top: 800px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 23px;
    line-height: 27px;
    color: white;
}

#caros{
    position: absolute;
    width: 16px;
    height: 16px;
    left: 87rem;
    top: 805px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 16px;
    color: white;
}

.buttoms{
  background-color: #FFFFFF;
  border: 1px solid #781116;
  border-radius: 1px;
  box-sizing: border-box;
  color: #222222;
  cursor: pointer;
  display: inline-block;
  font-family: 'Roboto';
  font-size: 15px;
  font-weight: 400;
  line-height: 16px;
  outline: none;
  position: absolute;
  text-align: center;
  text-decoration: none;
  touch-action: manipulation;
  transition: box-shadow .2s,-ms-transform .1s,-webkit-transform .1s,transform .1s;
  user-select: none;
  -webkit-user-select: none;
  white-space: nowrap;
  padding-top: 5px;
  height: 2rem;
  width: 8rem;
  left: 84rem;
  top: 835px;
}

.buttoms:focus-visible {
  box-shadow: #781116 0 0 0 2px, rgba(255, 255, 255, 0.8) 0 0 0 4px;
  transition: box-shadow .2s;
}

.buttoms:active {
  background-color: #F7F7F7;
  border-color: #000000;
  transform: scale(.96);
}

.buttoms:disabled {
  border-color: #DDDDDD;
  color: #DDDDDD;
  cursor: not-allowed;
  opacity: 1;
}

}